<figure class="single-image-item">
  <img
    src="https://picsum.photos/1000/1000"
    alt="Example image"
    loading="lazy"
  />
  <figcaption>Example image</figcaption>
</figure>
<figure class="single-image-item">
  <img src="https://picsum.photos/600/700" alt="Example image" loading="lazy" />
  <figcaption>Quiet Space</figcaption>
</figure>
<figure class="single-image-item">
  <img src="https://picsum.photos/700/700" alt="Example image" loading="lazy" />
  <figcaption>Example image</figcaption>
</figure>
<figure class="single-image-item">
  <img src="https://picsum.photos/800/800" alt="Example image" loading="lazy" />
  <figcaption>Red Motion</figcaption>
</figure>
<figure class="single-image-item">
  <img src="https://picsum.photos/500/500" alt="Example image" loading="lazy" />
  <figcaption>Example image</figcaption>
</figure>
<figure class="single-image-item">
  <img src="https://picsum.photos/600/700" alt="Example image" loading="lazy" />
  <figcaption>Quiet Space</figcaption>
</figure>
<figure class="single-image-item">
  <img src="https://picsum.photos/800/800" alt="Example image" loading="lazy" />
  <figcaption>Example image</figcaption>
</figure>
<figure class="single-image-item">
  <img src="https://picsum.photos/900/900" alt="Example image" loading="lazy" />
  <figcaption>Example image</figcaption>
</figure>
<figure class="single-image-item">
  <img
    src="https://picsum.photos/1000/1000"
    alt="Example image"
    loading="lazy"
  />
  <figcaption>Example image</figcaption>
</figure>
<figure class="single-image-item">
  <img src="https://picsum.photos/700/700" alt="Example image" loading="lazy" />
  <figcaption>Example image</figcaption>
</figure>
<figure class="single-image-item">
  <img src="https://picsum.photos/800/800" alt="Example image" loading="lazy" />
  <figcaption>Example image</figcaption>
</figure>
<figure class="single-image-item">
  <img src="https://picsum.photos/600/900" alt="Example image" loading="lazy" />
  <figcaption>Example image</figcaption>
</figure>
