<h2>Simple Sidebar Layout</h2>
<p>
  This layout features a fixed sidebar on the side of the screen, with the main
  content area on the opposite side. The sidebar may contain navigation links,
  while the main content area displays the primary information.
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tristique, lectus
  id faucibus auctor, massa lectus iaculis dolor, vitae luctus nisi libero
  tempor lectus. Nunc sed viverra magna. Vestibulum ante ipsum primis in
  faucibus orci luctus et ultrices posuere cubilia curae; Cras ut gravida ante,
  in iaculis turpis. Aliquam ac ornare diam, vitae viverra velit. Praesent et
  lectus ac nunc sodales lobortis. Vestibulum ante ipsum primis in faucibus orci
  luctus et ultrices posuere cubilia curae; Sed magna nulla, pulvinar at
  faucibus quis, malesuada vitae quam. Cras lorem justo, malesuada sit amet
  consectetur ut, porttitor finibus lectus. Aenean vestibulum magna vitae
  scelerisque dictum. Sed at facilisis risus.
</p>
<div class="content-summary">
  <span data-sq-field="componentContent.contentType" class="text-tag"
    >News</span
  >
  <h3 data-sq-field="componentContent.heading">Breaking news</h3>
  <span data-sq-field="componentContent.textContent"
    ><span>Important news</span></span
  >
  <a href="https://example.com" target="_blank" class="content-summary__link"
    >Read more</a
  >
</div>
