<div class='layout-three-cols'>
  {{#if zones.col1}}
    <div class='three-cols__col'>
      {{zones.col1}}
    </div>
  {{/if}}

  {{#if zones.col2}}
    <div class='three-cols__col'>
      {{zones.col2}}
    </div>
  {{/if}}

  {{#if zones.col3}}
    <div class='three-cols__col'>
      {{zones.col3}}
    </div>
  {{/if}}
</div>