@use '@common-styles/variables';

.header-two-columns {
  &__title--left {
    text-align: left;
  }

  &__title--center {
    text-align: center;
  }

  &__title--right {
    text-align: right;
  }

  &__layout {
    display: grid;
    gap: var(--spacing-lg);
    grid-template-columns: 1fr;

    @media (min-width: variables.$breakpoint-md) {
      grid-template-columns: 1fr 1fr;
      align-items: start;
    }
  }

  &__column {
    min-width: 0;
  }
}
