@use '@common-styles/mixins';
@use '@common-styles/variables';

.green-theme {
  .cards {
    position: relative;
    grid-template-columns: repeat(2, 1fr);

    &__heading,
    &__content-type,
    &__supporting-text {
      padding: 0 var(--spacing-md);
    }

    &__link {
      display: none;
    }

    &::after {
      content: '';
      background-color: var(--primary);
      z-index: var(--z-index-below);
      width: 100vw;
      position: absolute;
      height: 80%;
      top: 10%;
      left: 50%;
      transform: translateX(-50%);
    }

    @media screen and (max-width: variables.$breakpoint-md) {
      grid-template-columns: repeat(1, 1fr);
    }

    &__header {
      justify-content: center;
    }

    &__card {
      color: var(--color-text);
      border-radius: var(--border-radius);
      background: var(--white);
      position: relative;
      overflow: hidden;
      padding: 0;
      gap: var(--spacing-sm);
      cursor: pointer;
      height: variables.toRem(400);
      width: 100%;
      box-shadow: var(--box-shadow);

      // for hover animation
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--primary);
        opacity: 0;
        transition: opacity 0.3s ease;
        z-index: var(--z-index-default);
      }

      &:not(.cards__card--has-image) {
        padding: var(--spacing-md) 0;
      }

      > p,
      h3 {
        /* padding: 0 var(--spacing-md); */
        margin: 0;
      }

      &:hover {
        .cards__heading {
          text-decoration: underline;
        }
      }
    }

    &__heading {
      margin: 0;
    }

    &__image {
      max-height: variables.toRem(160);
      border-radius: var(--border-radius);
      z-index: var(--z-index-default);
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
    }

    &__content-type {
      line-height: var(--line-height-sm);
      font-size: var(--font-size-xs);
      text-transform: capitalize;
      color: var(--accent);
      margin: var(--spacing-sm) 0 0;
    }

    &__supporting-text {
      @include mixins.clip-text(3);

      line-height: var(--line-height-md);
      font-size: var(--base-font-size);
    }
  }
}
